#frontPageImage {
    background: url("resources/johan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    filter: grayscale(70%);
}

.no-padding-bottom {
    margin-bottom:0px !important;
}

body {
    font-family: Oswald;
    font-weight: bold;
}

#frameworkIcons i {
    font-size: 128px;
    margin: 8px;
}

p {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 940px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#contact label {
font-size: 20px;
}

#contactIcons i {
    font-size: 64px;
    margin: 8px;
}
